
*{
margin: 0;
box-sizing: border-box;
padding:0px 10px 10px 10px;
}
body,html{
    width: 100%;
    height: 100%;
}
nav{
  
   display: flex;
   flex-wrap: wrap;

}
.navbar1{
    display: flex;
    flex-wrap: wrap;
   margin-right: 20%;
    
}

.navbar2,i{
    color: #fff;
  
}
#logo{
    margin-left: 2%;

}

nav ul{
    list-style-type: none;
    text-align: right;
    width: 100%;
    padding-right: 30px;
}

li{
    display: inline-block;
    padding-top: 20px;

}

.content{
    align-items: center;
    
}
.content2 {
background-color: #ffd600;
margin-bottom: 2%;
color: #fff;


}

.content3{
margin-left: 70%;
margin-top: -40%;
border-style: ridge;
text-align: center;
border-radius: 3px;
border-color: gainsboro;
height: 450px;
padding-top: 50px;
width: 300px;
}
.imge {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
.photos{
margin-top: 3%;
margin-left: 5%;
padding: 10px 40px;



}
#price{
color: #e70062;
}


.img11,.img10,.img12,.img6,.img7,.img8,.img9,.img13,.img14,.img15,.img16,.img17,.img18,.img19,.img20,.img21,.img22,.img23,.img24,.img25,.img26{
    background-color:#fff;
border-radius: 3px 3px;
margin: auto;
/* box-shadow: 0 5px 20px rgba(0, 0,0, .3); */

}



.photos2{
    margin-left: 3%;
    margin-bottom: 8%;

}
#htwo{
text-align: center;

}
.logos{
display: flex;
justify-content: space-between;
padding: 3px 10px;
width: fit-content;
margin-left: 14%;

}
#bttn1{

    border-radius: 10px;
    padding:15px 120px;
    margin-top: -13%;
    margin-left: 35%;
    margin-bottom: 5%;
    background-color: #ffd600;
    color: #fff;
   
    

}
.card1{


display: inline-block;

}
hr{
    background-color: #ffd600;
    border-style: hidden;
}
#btn11{
width: 100px;
height: 100px;
padding: 60px 120px;
border-radius: 20px;
align-content: center;
background-color: black;
color: #fff;
}

.semi{
   display: flex;

background-color: #ffd600;
color: #fff;

}   
#bttn6{

    margin-top: 4%;
    padding: 5px 30px;

    background-color: #e70062;
    border-radius: 3px;
    color: #fff;



}
input{
    margin-top: 4%;
    padding: 5px 30px;
    border-radius: 1px;
    color: #fff;



}


.picc{
margin-bottom: 3%;

}
.pic{
margin-left: 17%;
margin-bottom: 3%;

}                                                                                                                                                                                                                                             

h2{
text-align: center;
margin-top: 4%;

}
.btn2{
padding: 10px 10px;

}

.container{
    max-width: 1500px;
    margin: auto;
    


}

.footer{
    padding:10px;
    background-color: #26004c;
    color: #fff;
}
.row{
    display: flex;
    
    
    
    
    

}
.footer-col{
    width: 35%;
    padding: 0 15px;
    
}
#imaage{
width: 100px;
margin-left: 20%;

}
.navbar3{
    background-color:#252525;
    margin-top: -2%;

}
i{
    color: #fff;
 
}


.card{
border-style: solid;
border-width: 1px;
padding: 0 1%;
justify-content: space-between;
width: 12%;
border-radius: 2%;



}
.navbar4{
display:inline-block;

}
.footer-col2{
    display: inline-flex;
    margin-left: 15%;
}
.photos3{
margin-left: 15%;
    margin-top: -50%;
}
.photos4,.photos6,.photos7,.photos5,.photos8{

    margin-left: 15%;
}

span{
    border-style: ridge;
    border-radius: 30px;
    padding-top: 2px;
    border-width: 1px;
    font-weight: bolder;
    margin-top: 2%;
    font-size: larger;
    background-color: #fff;


}
.span{
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 4%;
}
#span1{
    background-color: #ffd600;
    color: #fff;
}
#bttn5{
    padding: 15px 80px;
    border-radius: 10px;
    margin-left: 48%;
    background-color: #ffd600;
    color: #fff;
    margin-bottom: 3%;
    border-color: #ffd600;
}
i{
    color: black;
}
.love{
    border-radius: 2px;
    width: 5px;
    height: 3px;

}
#catalogue{
text-align: center;
font-weight: bolder;
font-size: 20px;
margin-top: 3%;

text-align: center;

}
.content5{
margin-top: 2%;

}
.stars{
    color: #26004c;
}
#star{
    height: 2px;
    width: 1px;
    padding: 5px;
color: #ffd600;
}
#shopping{
    color: #ffd600;
}
#heart{
    color: #ffd600;
    margin-left: 6%;
    padding-left: 100px;
    padding-bottom: 12px;

}
.hearts{
    display: flex;
    margin-bottom: -3%;
}
#span3{
    background-color: #e70062;
    margin-left: 3%;
    padding-bottom: 10px;
}
.pheading{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 2%;
    
     
    text-align: center;
}
.navbar6{
    background-color:#fff ;
    margin-top: -2%;
}
#navb{
    margin-top: 1%;
}
#bttn7{
    padding: 15px 70px;
    background-color: #ffd600;
    color: #fff;
    border-radius: 7px;
    border-style: hidden;
    
  
}
#bttn8{
    padding: 15px 50px;
    color: darkgrey;
    border-radius: 2px;
    margin-left: 10%;
    border-style:hidden;
}
#delivery{
    size: 30px;
    background-color: #ffd600;
    color: #fff;
}
.content6{
    margin-top: -20%;
    margin-left: 40%;
    margin-bottom: 5%;
}
.paragraph{
    margin-left: 10%;
    font-size: larger;
}
#heading1{
    text-align: center;

}
#sociale{
    color: #fff;
}
#imag1{
    border-style: solid;
    border-color: #ffd600;
    border-radius: 23px 23px;
    margin-left: 10%;
    width: 300px;

   
    
}
#imag2{
    border-style: solid;
    border-color: #ffd600;
    border-radius: 23px 23px;
    margin: auto;
    width: 300px;
    margin-left: 48%;
}
#heart2{
    margin-top: 3%;
    margin-left: 20%;
}
.phot{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7%;
    margin-left: 10%;
    
}
#adress{
    color: #e70062;
    margin-left: 3%;
}
#deliver{
   color:green;
   margin-left: 3%;
}
#logo1{
    color: darkgray;
}
#plusMin{
    color: #ffd600;
    
}
#spa{
    margin-left: 30%;
    border-radius: 0%;
    border-style: hidden;
}
#sp{
    margin-left: 32.8%;
    border-radius: 0%;
    border-style: hidden;
    font-weight: lighter;
}
.first{
margin-left: 20%;
margin-top: -15%;
margin-bottom: 4%;
}
#bttn0{
    padding: 10px 60px;
    background-color:#fff;
    color: green;
    border-radius: 7px;
    border-style: solid;
    border-color: green;
    margin-bottom: 2%;
  
}

.box{
    float: right;
    width: 30%;
    margin-top: -45%;
    border-width: 2px;
    border-style: solid;
    color:black;
    border-color:black;
    border-radius: 10px;
    height: 60vh;
    padding: 30px;
    
  }
  .price{
    color: #252525;
    font-size: larger;
  }
  .conten {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 30%;
    justify-content: space-between;
    align-items: center;
  }
  
  li {
    margin-right: 20px;
  }
  
  img#logo {
    margin-left: auto;
    margin-top: 2%;
  }
  #product{
    text-align: center;
    font-size: 40px;
  }

  /* Media query for screens smaller than 768px */
  @media screen and (max-width: 600px) {
    .navbar1 {
      margin-right: 0;
      flex-direction:column;
    }
    nav{
        flex-direction: column;
    }
    nav ul {
      padding-right: 10px;
    }
      .imge {
        width: 100%;
        /* text-align: center; */
        margin-left: 0%;
      }
      
      .imge img {
        max-width:100%;
        height: auto;
       
       
      }
    
    /* li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
     */
    #logo {
      margin-left: 0%;
      margin-right: 10px;
    }
    ul {
        flex-direction: column;
        /* margin-left: 0%; */
        align-items: flex-start;
      }
      
      li {
        margin: 10px 0;
      }
      
      img#logo {
        margin-left: 0%;
        margin-top: 10px;
      }
    .photos,.photos2{
        flex-direction: column;
        /* margin-left: 0%; */
    }
    .logos{
        flex-direction: column;
        align-items: center;
       
    }
    .heading li:first-child {
      float: none;
      display: block;
      text-align: center;
    }
    
    .inputs {
      display: none;
    }
    
    .fa-bars {
      display: block;
    }
    .phot {
        flex-direction: column;
        /* align-items: center; */
      }
      #heading1{
        margin-left: 0%;
      }
      #spa{
        margin-left: 10%;
        font-size: 24px;
      }
      
      #sp{
        margin-left: 12.8%;
        font-size: 16px;
      }
      .heading1{
        align-items: center;
      }
      .first {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      .box {
        width: 100%;
        float: none;
        margin-top: 0;
        height: auto;
      }
      .footer {
        /* display: flex;
        flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        margin-left: 0%;
      }
      
      .footer-col {
        width: 50%;
        text-align: center;
        margin-bottom: 50px;
        
      }
      
      .footer-col2 {
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .con{
        width: 10%;
      }
    
      .content3{
        margin-top: 20%;
        margin-left: 10%;
      }
     #bttn1{
        margin-left:0%;
      }
  }
  @media screen and  (min-width:601px),(max-width:1020){
    *{
        
    } 
    .conten ul{
        width: 100%;
        margin-left: 10%;
    }
    .content2 {
        padding: 20px;
        margin-left: 0%;
        width:100%;
        
      }
    
      .navbar2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

      }
      .conten{
        padding: 20px;
        margin-left: 0%;
        width:0%;
      }
    
      .inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
      width: 40%;
      }
    
      .inputs input {
        width: 70%;
      }
      .content3{
        margin-top: 70%;
        margin-left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      .logos{
        margin-left: 0%;
      }
      .imge {
        width: 100%;
        /* text-align: center; */
        margin-left: 0%;
      }
      
      .imge img {
        max-width:70%;
        height: auto;
       
      }
      .photos,.photos2{
        display: flex;
        /* margin-left: 0%; */
    }
    .logos{
        display: flex;
    }
  }
